@use "../util/" as *;

.section--about {
  @include toFlex(column, 0.625rem);
  @include breakpoint(large) {
    border-radius: 0 0 8px 0;
    grid-column: 3/5;
  }

  background-color: $color-secondary-lighter;
  border-radius: 0 0 5px 5px;
}

.section__list {
  list-style: none;
  padding: 0;
}
