@use "../util/" as *;

.button--signup {
  background-color: $color-accent-dark;
  color: $color-accent-light;
  margin-top: 0.625rem;
}

.button--signup:hover {
  background-color: $color-accent-light;
  color: $color-accent-dark;
}

.section--subscription {
  @include toFlex(column, 0.625rem);
  @include breakpoint(large) {
    border-radius: 0 0 0 8px;
    grid-column: 1/3;
  }

  .section__highlight {
    @include toFlex(row, 0.625rem);

    .highlight--light {
      margin: auto 0.75rem;
    }
  }

  .section__text {
    margin-top: -0.625rem;
  }

  background-color: $color-secondary;
}

.section__button {
  border-radius: 5px;
  box-shadow: 10px 10px 50px -5px hsl(179, 64%, 33%);
  display: block;
  padding: 0.625rem 0;
  text-align: center;
  text-decoration: none;
}
